body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  max-height: 80vh;
}
img:hover {
  transform: scale(1.05, 1.05);
  transition-duration: .1s;
}
.main_pagination {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero_page {
  background-color: #888888;
  text-align: center;
  height: 100vh;
}
.hero_page__description {
  opacity: 0%;
  position: absolute;
  text-align: left;
  width: 40vw;
  top: 1em;
  left: 1em;
  animation: description .1s ease-in normal forwards;
}
@keyframes description {
  100% {opacity: 100%}
}
.hero_page h1 {
  user-select: none;
  text-shadow: 2px 2px black, 2px -2px black;
  color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 1.5em;
}
