body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero_page__avatar:hover {
  transform: scale(1.05, 1.05) translate(-50%, 0%);
  transition-duration: .1s;
}
.main_pagination {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero_page {
  background-color: #888888;
  text-align: center;
  min-height: 100vh;
}
.hero_page__avatar {
  max-height: 80vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 0;
}
.hero_page__description {
  opacity: 0;
  /* position: absolute; */
  text-align: left;
  width: 40vw;
  padding: 1em;
  /* top: 1em; */
  /* left: 1em; */
  animation: description .1s ease-in normal forwards;
}
@keyframes description {
  100% {opacity: 1}
}
.hero_page h1 {
  user-select: none;
  text-shadow: 2px 2px black, 2px -2px black;
  color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 1.5em;
}
.hero_page__buttons {
  position: absolute;
  bottom: .5em;
  left: 50%;
  transform: translate(-50%, 0);
}
.superhero__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 1em;
}
.superhero__images img {
  margin: 1em;
  width: 10vw;
  object-fit: cover;
  box-shadow: 2px 2px 2px;
}
.create_page {
  background-color: #eeeeee;
  text-align: center;
  min-height: 100vh;
}
.create_page__input {
  width: 50vw;
  text-align: end;
  transform: translate(15%, 0);
}
.create_page__input label {
  text-align: left;
}
.create_page__input__large {
  width: 100%;
  height: 5em;
}